.form {
    &__container {
        display: flex;
        flex-direction: column;
        background-color: var(--pt-color-green);
        justify-content: flex-start;
        align-items: flex-start;
        padding: 36px 27px;
        height: 417px;
        width: 417px;
        border-radius: 9px;
        user-select: none;
    }
    &__title {
        font: var(--pt-font-title);
        color: var(--pt-color-white);
        margin-bottom: 15px;
    }
    &__additional {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font: var(--pt-font-small);
        color: var(--pt-color-white);
        width: 100%;
        margin-bottom: 4px;
    }
    &__additional a {
        font-size: 11px;
        font-family: 'IBM Plex Mono', monospace;
        transition: var(--pt-transition);
        cursor: pointer;
        text-decoration: underline;
        &:hover {
            color: var(--pt-color-green-primary);
        }
    }
    &__create {
        font-size: 11px;
        font-family: 'IBM Plex Mono', monospace;
        color: var(--pt-color-green-primary);
        cursor: pointer;
        margin-bottom: 18px;
        transition: var(--pt-transition);
        &:hover {
            color: var(--pt-color-white);
        }
    }
    &__bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    &__login {
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        display: inline-flex;
        padding: 10px 35px;
        background: var(--pt-color-green-primary);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 1000px;
        text-transform: uppercase;
        cursor: pointer;
        transition: var(--pt-transition);
        
        &:hover {
            background: var(--pt-color-white);
        }
        &:active {
            transform: translateY(4px); 
        }
        &--disabled {
            opacity: .3;
            pointer-events: none;
        }
    }
    &__input-container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__input {
        font-family: 'IBM Plex Mono', monospace;
        color: var(--pt-color-white);
        font-size: 15px;
        height: 51px;
        margin-bottom: 15px;
        padding: 18px 52px;
        background: var(--pt-color-background);
        border-radius: 1000px;
    }
    &__icon {
        position: absolute;
        width: 20px;
        &-lock {
            top: 46px;
            left: 20px;
        }
        &-mail {
            top: 52px;
            left: 20px;
        }
        &-eye {
            top: 47px;
            right: 14px;
            width: 24px;
            cursor: pointer;
        }
    }
    &__remember {
        position: relative;
        display: none;
    }
    &__remember+label {
        color: var(--pt-color-white);
        font-size: 11px;
        font-family: 'IBM Plex Mono', monospace;
        transition: var(--pt-transition);
        cursor: pointer;
    }
    &__remember+label:hover {
        color: var(--pt-color-green-primary);
    }             
    &__remember+label::after {
        position: absolute;
        top: 0;
        right: -18px;
        content: '';
        background-image: url('../../../../assets/pages/login/login-form/checkbox-empty.svg');
        width: 14px;
        height: 14px;
        transition: var(--pt-transition);
    }   
    &__remember+label:hover::after {
        position: absolute;
        top: 0;
        right: -18px;
        content: '';
        background-image: url('../../../../assets/pages/login/login-form/checkbox-empty-green.svg');
        width: 14px;
        height: 14px;
    }     
    &__remember:checked+label::after {
        position: absolute;
        top: 0;
        right: -18px;
        content: '';
        background-image: url('../../../../assets/pages/login/login-form/checkbox-filled.svg');
        width: 14px;
        height: 14px;
    }
    &__remember:checked+label:hover::after {
        position: absolute;
        top: 0;
        right: -18px;
        content: '';
        background-image: url('../../../../assets/pages/login/login-form/checkbox-filled-green.svg');
        width: 14px;
        height: 14px;
    }        
    &__social {
        cursor: pointer;
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
        & img {
            transition: var(--pt-transition);
        }
        &:hover img {
            transform: scale(1.2);
        }
    }
}



label {
    position: relative;
    font: var(--pt-font-base);
    color: var(--pt-color-dark);
    margin-bottom: 10px;
}


