<div class="show__content">
    <div class="show__block">
        <img class="show__img" src="assets/pages/main/flag.png" alt="11">
        <div class="show__text-container">
            <h2>Покажите вашу идею !</h2>
            <div class="show__text">
                Посмотрим на механизмы, которые уже работают. <span>Steam, Stackoverflow,
                 Тинькофф</span> и другие крупные игроки на своих платформах давно <span>внедрили</span> систему ачивок и левела для пользователей.
            </div>
        </div>
    </div>    
    <div class="show__line">
    </div>
</div>