<div class="lvl__content">
    <div class="lvl__block">
        <h2>LVL</h2>
        <div class="lvl__text">
            Поздравляем ! У ваших пользователей появился уровень ! Думайте сами, что с этим делать
        </div>
        <img src="assets/pages/main/lvl.png" alt="lvl">
        <div class="lvl__text">
            Добавление системы уровней позволяет пользователям отслеживать свой прогресс 
            и достижения, получать новые возможности, бонусы за выполнение задач достижение целей. Это стимулирует пользователей и увеличивает их лояльность к платформе. Система уровней также способствует росту вовлеченности и активности пользователей на платформе, а предоставляемая ею информация о поведении пользователей помогает улучшить функциональность и оптимизировать пользовательский опыт. Мы предоставляем апи для добавления системы 
            уровней на вашу платформу.
        </div>
    </div>    
</div>