#preview {
    // height: 100%;
    height: 1000px;
    width: 65%;
    display: inline-block;
    background-color: #181A1C;
}

#setting {
    // height: 100%;
    height: 1000px;
    width: 35%;
    display: inline-block;
    // align-items: start;
    vertical-align: top;
}

.section,
.input {
    display: block;
}

.file-input {
    display: none;
}