@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;800');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

:root {
    --pt-font-family-base: Inter, sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';

    --pt-font-family-title: Jost, sans-serif;

    --pt-font-base: 400 16px/24px var(--pt-font-family-base);
    --pt-font-small: 400 14px/20px var(--pt-font-family-base);
    --pt-font-large: 400 24px/32px var(--pt-font-family-base);
    --pt-font-menu: 400 14px/20px var(--pt-font-family-base);
    --pt-font-burger-link: 400 28px/36px var(--pt-font-family-base);
    --pt-font-title: 800 36px/52px var(--pt-font-family-title);

    --pt-padding-x-container-s: 56px;
    --pt-padding-x-container-m: 153px;
    --pt-padding-x-container-l: 314px;
    --pt-padding-x-container-lg: 20vw;

    --pt-color-gray: #DCE4EE;
    --pt-color-black: #181A1C;
    --pt-color-orange: #F9A424;
    --pt-color-white: #FFFFFF;

    --pt-transition: all .2s ease-in;
}

h1,h2,h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  margin-bottom: 24px;
}

@media (max-width: 600px) {
  h1,h2,h3 {
    font-size: 20px;
    line-height: 27px;
  }
}