<div class="why__content">
    <div class="why__block">
        <h2>Зачем нужна геймификация ? <br>Что это такое ?</h2>
        <div class="why__text">
            <p>В условиях современности, бизнесу важно чтобы пользователи их сайтов и приложений проявляли 
            как можно больше активности на платформе.</p>
            <br>
            <p>Геймификация - процесс помогающий увеличить активность юзеров, что напрямую увеличивает продажи и лояльность.</p>
        </div>
    </div>
    <div class="why__line">
    </div>
    <img class="why__img-note" src="assets/pages/main/note.png" alt="222">
</div>