<div class="tarifs__content">
    <h2>Тарифы</h2>
    <div class="tarifs__blocks">
        <div class="tarifs__block">
            <h3>Free</h3>
            <ul>
                <li>
                    ограничение на кол-во пользователей (до 1000)
                </li>
            </ul>
        </div>
        <div class="tarifs__block tarifs__block-gray">
            <h3>Dynamic</h3>
            <ul>
                <li>
                    стоимость будет зависеть от кол-ва пользователей
                </li>
            </ul>
        </div>
    </div>
    <div class="tarifs__block-bottom">
        <h3 class="tarifs__text-bottom">Создайте ачивки для ваших пользователей</h3>
        <a class="tarifs__link">Присоединиться</a>
    </div>
</div>